include CHANGELOG.md
include LICENSE
include Makefile
include requirements-ci.txt
include requirements-dev.txt
include requirements.txt

recursive-include docs *
recursive-include tests *
prune docs/_build

global-exclude *.py[cdo] __pycache__ *.so *.pyd
